# PLACE YOUR SUPABASE PROJECT URL AND ANON KEY HERE

NEXT_PUBLIC_SUPABASE_URL=https://xxxxxxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJpc3MiOxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxtjcmFnZHplaWp6aXFnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTg4NzIwNjYsImV4cCI6MjA3NDQ0ODA2Nn0.sjvKBSjST2W7m48lpUZ_cFQffcf2CAjuzX8ND0Fyzzo

NEXT_PUBLIC_WEBSITE_URL=http://localhost:3002

# PLACE YOUR POSTGRES DATABBASE UEL AND PASSWORD HERE
DATABASE_URL=xxxxx

# PLACE YOUR GOOGLE CLIENT ID AND SECRET HERE TO ENABLE OAUTH SOCIAL LOGIN (https://supabase.com/docs/guides/auth/social-login/auth-google)
GOOGLE_OAUTH_CLIENT_ID=352124471629-xxxxxx
GOOGLE_OAUTH_CLIENT_SECRET=352124471629-xxxxxxx

# Place GITHUB client id and secret to easily enable github oauth login
GITHUB_OAUTH_CLIENT_ID=xxxxx
GITHUB_OAUTH_CLIENT_SECRET=xxxxx

# STRIPE KEYS
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_xxxxx
STRIPE_SECRET_KEY=sk_test_xxxxx
STRIPE_WEBHOOK_SECRET=whsec_xxxxx

# pub:   